.logo {
  width: 6.5rem;
  cursor: pointer;
}
.navBarSection {
  top: 0px;
  padding: 0.5rem 1rem;
  box-shadow: 0 -8px 0px 0 rgb(0 0 0 / 0%), 0 0px 16px 0 rgb(0 0 0 / 19%);
  z-index: 1010;
}
.courses {
  display: flex;
}

.formBorder {
  display: flex;
  width: 100%;
  padding: 10px;
  border: 0.5px solid black;
  border-radius: 50px;
  background-color: #f7f9fa;
  height: 50px;
}
.searchButton {
  /* width: 5%; */
  border: none;
  height: 100%;
  background-color: #f7f9fa;
}
.searchIcon {
  width: 20px;
  color: gray;
  background-color: #f7f9fa;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.searchIcon:hover {
  cursor: not-allowed;
}
.formInput {
  border: none;
  width: 90%;
  background-color: #f7f9fa;
}
.formInput:focus {
  outline: none;
}
.shoppingIcon {
  width: 25px;
}
.shoppingIcon:hover {
  color: #5624d0;
  cursor: pointer;
}
.links:hover {
  color: #5624d0;
  cursor: pointer;
}

.button {
  background-color: white;
  color: black;
  width: 85px;
  height: 45px;
  font-weight: 700;
  border: 0.5px solid black;
}
.button:hover {
  background-color: rgb(243, 243, 243);
}
.signUp {
  background-color: black;
  color: white;
}
.signUp:hover {
  background-color: black;
}
.languageIcon {
  width: 45px;
  border: 0.5px solid black;
  padding: 10px;
}
.languageIcon:hover {
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}
