.footerContainer {
  position: relative;
  top: 80px;
  background-color: #1c1d1f;
  color: white;
  height: 500px;
  width: 100%;
}
.firstSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-top: 1px solid #3e4143;
}
.firstSection > button {
  background-color: #1c1d1f;
  border: 1px solid white;
  height: 50px;
  color: white;
  padding: 0px 12px;
}
.companiesLogo > img {
  cursor: pointer;
  margin-right: 15px;
}
.udemyBusiness {
  color: #cec0fc;
}
.companies {
  margin: 0;
  font-weight: 700;
  font-size: 1.1rem;
}
.footerLinks {
  display: flex;
}
.footerLinks > ul {
  margin-right: 50px;
  margin-left: 0px;
  padding: 0px;
  list-style: none;
}
.footerLinks > ul > li {
  cursor: pointer;
  font-size: 0.9rem;
}
.footerLinks > ul > li:hover {
  text-decoration: underline;
}
.copyRights {
  margin: 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyRights > img {
  width: 100px;
}

.languageBtn > * {
  border: none !important;
}
.languageBtn > *:hover {
  background-color: unset !important;
  border: none !important;
}
.languageBtn:hover {
  background-color: #3e4143;
}
.copyRight {
  font-size: 0.7rem;
}
